@media only screen and (max-width: 1365px){}

.catalog-item__title{
	font-size: 20px;
}


.section-title h3 {
	font-size: 28px;
	line-height: 36px;
}

.news-head__control{
	font-size: 20px;
}
.news-head__control li,
.news-head__control li:first-child,
.user-content .news-head__control li,
.user-content .news-head__control li:first-child {
	padding: 0 30px 20px 0;
	background: none;
}

.years-list{
	font-size: 16px;
}
.years-list__item {
	padding-left: 10px;
	padding-right: 10px;
}


.footer-nav__list,
.user-content .footer-nav__list,
.footer-nav__title{
	font-size: 16px;
	line-height: 21px;
}