@media only screen and (max-width: 979px){}

@media only screen and (max-width: 1279px){}

/*------ TYPOGRAPHIC STYLES ------*/
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.wrapper > .max-wrap:after {
	left: 0;
	right: 0;
	box-shadow: none;
}
.layout {
	margin-left: 0;
	margin-right: 0;
}
.footer-nav{
	margin-right: 0;
}

.aside, .footer-adr {
	width: auto;
	margin-left: 0;
}

.aside{
	top: 80px;
}
/*MAIN BLOCKS end*/

/*USER CONTENT*/

/*list*/
/*list end*/

/*default table*/
/*default table end*/

/*table styling*/
/*table styling end*/

/*blockquote*/
/*blockquote end*/

/*elements form style*/
/*form common*/
/*form common end*/

/*placeholder style*/
/*placeholder style end*/

/*placeholder hidden*/
/*placeholder hidden end*/

/*form focus*/
/*form focus end*/

/*form error*/
/*form error end*/

/*checkbox*/
/*checkbox end*/

/*radio*/
/*radio end*/

/*input file*/
/*input file end*/

/*form layout*/
/*form layout end*/

/*select*/
/*select overall*/
/*select overall end*/

/*multiselect button*/
/*multiselect button end*/

/*multiselect menu*/
/*multiselect menu end*/
/*select end*/

/*elements form style end*/

/*download files items*/
/*download files items end*/

/*social networks*/
/*social networks end*/
/*USER CONTENT end*/

/*inline popup*/
/*inline popup end*/

/*default form*/
/*default form end*/

/*callback form*/
/*callback form end*/

/*login form*/
/*login form end*/

/*slider*/
/*slider end*/

/*HEADER*/
.header{ }
/*logo*/
.logo{ }
/*logo end*/

/*main navigation*/
.header .nav{ }
/*main navigation end*/

/*user*/
.user{ }

/*search form*/
.show-search{ }

/*search btn submit*/
/*search btn submit end*/

/*search form opener*/
/*search form opener end*/

.lang{ }

.login{
	display: none;
}
/*user end*/

/*call*/
.call{ }
/*call end*/

/*button menu*/
/*button menu end*/
/*HEADER end*/

/*MAIN*/
.main{}
/*CONTENT*/
/*breadcrumbs*/
/*breadcrumbs end*/

/*datetime*/
/*datetime */

/*common slider*/
/*common slider end*/

/*visual*/
/*visual end*/

/*graphs*/
/*graphs end*/

/*catalog*/
/*catalog end*/
/*CONTENT end*/

/*SIDEBAR*/
.sidebar{ }
/*menu*/
/*general styles menu*/
/*shadow inside open drop*/
/*shadow inside open drop end*/
/*general styles menu end*/

/*styles to menu level 1*/
/*styles to menu level 1 end*/

/*styles to menu level 2*/
/*styles to menu level 2 end*/

/*styles to menu level 3*/
/*styles to menu level 3 end*/
/*menu end*/

/*sidebar widgets*/
/*sidebar widgets end*/
/*SIDEBAR end*/

/*ASIDE*/
.aside{
	position: fixed;
	right: 0;
	/*top: MAIN BLOCKS*/
	bottom: 0;
	width: 280px;
	float: none;
	margin: 0;
	padding: 0;
	display: none;
	overflow: auto;
	background: #ededed;
	z-index: 3;
}
.aside-holder:before{
	content: none;
}
.aside-short{
	display: block;
	z-index: 2;
}

/*aside widgets*/
/*aside widgets end*/
/*ASIDE end*/
/*MAIN end*/

/*FOOTER*/
.footer{}
/*footer holder*/

/*footer common*/
/*footer nav*/
.footer-nav__col{ }
/*footer nav end*/

/*footer adr*/
.footer-adr {
	display: block;
	float: none;
	padding: 0 0 60px;
}
/*footer adr end*/
/*footer common end*/

/*footer bottom*/

/*developer*/
/*developer end*/
/*footer bottom end*/
/*footer holder end*/
/*FOOTER end*/